<div class="container">
<!-- <form>
<div class="form-group">
 --><div><input [(ngModel)]="userName" class="form-control" placeholder="enter name"></div><br/>
<div><input [(ngModel)]="password" class="form-control" type="password" placeholder="enter password"></div><br/>
<div style="display:none;color:red" id="loginErrMsg">username and password values are incorrect.</div>
<div><button class="btn btn-success" value="" (click)="verifyUserLogin()"> Submit</button></div>
</div><!-- </form></div> -->
<br/>