<div>

<!-- <li *ngFor='let i of inventions' class="invention">
<span> Name: {{i.name}}</span>
<span> Inventor: {{i.inventor}}</span>
<span>Year: {{i.year}}</span>
<span> <button class="btn btn-primary" (click)="details(i.id)"> details </button> </span>
</li> -->
<!-- 
<label>{{nameModel}}</label>
<label>{{inventorModel}}</label>
<label>{{yearModel}}</label>

<div class="invention-creator">
<div><input [(ngModel)]="nameModel" placeholder="enter name"></div><br/>
<div><input [(ngModel)]="inventorModel" placeholder="enter inventor"></div><br/>
<div><input [(ngModel)]="yearModel" placeholder="enter year"></div><br/>
<div><textarea type="textarea" rows="4" placeholder="enter details" cols="20" [(ngModel)]="detailModel" placeholder="details" class="form-control"></textarea></div>
<div><button class="btn btn-success" value="" (click)="createInvention()"> Create Invention</button></div></div>
<br/>


 -->
</div>